@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");


*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Quicksand', sans-serif;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-column{
  display: flex;
  flex-direction: column;
}










